version: '3'
services:
  front:
    build: .
    environment:
      - NODE_ENV=development
    volumes:
      - ./front:/usr/src/app
    command: sh -c 'yarn start'
    ports:
      - 3000:3000
    tty: true
